{{- if ne .chezmoi.os "darwin" -}}
.chezmoiscripts/20-macos-defaults.sh
.config/borders
.config/borders/**
.config/skhd
.config/skhd/**
.config/yabai
.config/yabai/**
{{ end -}}
.DS_Store
.cache
.Trash
.gitconfig.local
